[submodule "nvim"]
	path = nvim
	url = https://github.com/GaelanVenturi/nvim

[submodule "wallpapers"]
  path = wallpapers 
  url = https://github.com/Gaelanventuri/wallpapers

[submodule "scripts"]
	path = scripts
	url = https://github.com/GaelanVenturi/scripts
